.view-button-case {
  background: #D4EDF6;
  border: 3px solid #D4EDF6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 25px 10px 25px;
  border-radius: 7px;
}

.view-link-case {
  font-family: 'Montserrat';
font-style: normal;
  font-weight: 700;
font-size: 18px;
line-height: 43px;
color: #377D97;
text-decoration: none;
}

.view-button-case:hover {
    color: #214450;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}