.input-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20%;
  gap: 20px;
  margin-left: 5%;
}

.school1,  .school2, .school3, .school4, .school5,.school6 {
  width: 40%;
}

.input-field {
  border: 3.44783px solid #CFDDE2;
border-radius: 8.04493px;
padding-right: 30%;
padding-top: 2%;
padding-bottom: 2%;
padding-left: 8%
}

.input-title {
font-style: normal;
font-weight: 600;
font-size: 20px;
/* identical to box height */


color: #748A92;
}

input[type=text] {
  font-family: 'Montserrat';
font-style: normal;
font-size: 24px;
}

.input-image {
  margin-left: -33%;
  margin-top: 0.8%;
  position:absolute;
}

.input-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: block;
  background: #D4EDF6;
  border-radius: 8.04493px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #214450;
  padding: 15px 40px 15px 40px;
  border: none;
}

.input-button:hover {
  color: #214450;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}