.description {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.about-img1 {
  width: 28%;
}

.about-descri1 {
  width: 45%;
  color: #214450;
  line-height: 23px;
  margin-left: 8%;
}

.logo-descrip {
  width: 30%;
  margin-left: 60%;
}